<!DOCTYPE html>
<html>
    <head>
        <h>This is a Library Books Management Website</h>
    </head>
    <form>
        <input type ="text" placeholder="UserName" name="UserName">
        <input type="password" placeholder="Password" name="Passwrd">
        <button >Login</button>
        {{!-- <button >Signin</button> --}}
    </form>
    <footer>
        <p><b> Copyright</b> -Sowmith Nandan and Co {{CurrentYear}} </p>
    </footer>
</html>
<script>
document.bgColor ="lightblue";
</script>