<!DOCTYPE html>
<html>
    <head>
        <h>This is a Library Books Management Website</h>
    </head>
    <form action='/' method='POST'>
        <input type ="text" placeholder="UserName" name="UserName">
        <input type="text" placeholder="Password" name="Password">
        <br><br>
        <button name="Login" >Login</button>
        <button  name="Signin" >Signin</button>
    </form>
    <footer>
        <p><b> Copyright</b> -Sowmith Nandan and Co {{CurrentYear}} </p>
    </footer>
</html>
<script>
document.bgColor ="lightblue";
</script>