<!DOCTYPE html>
<html>
    <head>
        <h>This is a Library Books Management Website</h>
    </head>
    <h1>{{Message}}</h1>
    <a href="./">Get Back </a>
    <footer>
        <p><b> Copyright</b> -Sowmith Nandan and Co {{CurrentYear}} </p>
    </footer>
</html>
<script>
document.bgColor ="lightblue";
</script>