<!DOCTYPE html>
<html>
    <head>
        <h>This is a Library Books Management Website</h>
    </head>
    <body>
    <p>Something Went wrong  </p>
    <a href='/'>Try Again</a>
    </body>
    <footer>
        <p><b> Copyright</b> -Sowmith Nandan and Co {{CurrentYear}} </p>
    </footer>
<script>
document.bgColor ="lightblue";
</script>