<!DOCTYPE html>
<html>
    <head>
        <h>This is a Library Books Management Website</h>
    </head>
    <body>
    <p>Successfully Signed In </p>
    <a href='/'>Get Back</a>
    </body>
    <footer>
        <p><b> Copyright</b> -Sowmith Nandan and Co {{CurrentYear}} </p>
    </footer>
<script>
document.bgColor ="lightblue";
</script>